
.todo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid grey;
  padding: 12px;
  margin-bottom: 15px; 
  width: 100%;
}

.todo-input-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0; 
  margin-bottom: 15px; 
  width: 50%;
  padding: 12px;
}

.todo-input-button {
  padding: 12px;
}



.td {
  margin-bottom: 14px;
  font-size: 20px;
}

.todo-input-item input {
  padding: 8px;
  width: 100%;
  font-size: 16px;
}

.primarybtn {
  background-color: #3498db; 
  color: #ffffff; 
  border: none;
  border-radius: 30px; 
  padding: 12px 20px; 
  cursor: pointer;
  display: inline-block; 
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; 
  margin: 2px;
  margin-top: 25px;
  font-size: 16px;
}
.secondarybtn {
  background-color: transparent;
  color: #ffffff; 
  border: none;
  padding: 12px 20px; 
  cursor: pointer;
  display: inline-block; 
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; 
  margin: 2px;
  margin-top: 10px;
  font-size: 16px;
}

.secondarybtn.active {
color: black;
text-decoration: underline;
}


.primarybtn:hover {
  background-color: #ff5722; 
  transform: scale(1.05); 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}
.secondarybtn:hover{
  background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
}
@media(max-width:500px){
 .secondarybtn {
    padding: 12px;
  }
}
@media(max-width:769px){
  .secondarybtn{
    border-radius: 20px;
  }
  .secondarybtn.active {
    background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
    color: white;
    text-decoration: none;
  }
  .todo-input{
    flex-direction: column;
    margin-left: auto;
    margin-top: 10px;
  }
  .todo-input-item{
    width: 80%;
  }
  .primarybtn{
    margin-top: 0;
  }

}