
  .todo-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-bottom: 15px; 
    margin-bottom: 15px; 
    width: 100%;
  }

  
  .todo-input-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0; 
    margin-bottom: 15px; 
    width: 50%;
    align-items: center;
  }
  
  .td {
    margin-bottom: 14px;
    font-size: 20px;
  }
  
  .todo-input-item input {
    padding: 8px;
    width: 100%;
    font-size: 16px;
  }
  
  .primarybtn, .secondarybtn {
    background-color: #3498db; 
    color: #ffffff; 
    border: none;
    border-radius: 30px; 
    padding: 12px 20px; 
    cursor: pointer;
    display: inline-block; 
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; 
    margin: 2px;
    font-size: 16px;
  }
  
  .primarybtn:hover, .secondarybtn:hover {
    background-color: #ff5722; 
    transform: scale(1.05); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  }
  @media(max-width:500px){
   .secondarybtn {
      padding: 12px;
    }
  }
  