.primarybtn {
    background-color:var(--red-button);
    color:var(--white); 
    border-radius: 30px; 
    padding: 12px 20px; 
    cursor: pointer;
    margin: 2px;
    margin-top: 25px;
    font-size:  var(--paragraph);
  }
  .secondarybtn {
    background-color: transparent;
    padding: 12px 20px; 
    cursor: pointer;
    margin-top: 10px;
    font-size: var(--paragraph);
  }
  
  .secondarybtn.active {
    border-right: 3px solid var(--red-button);
    color: var(--red-button);
    background-color:var(--white-blue);
  }
  
  
  .primarybtn:hover {
    transform: scale(1.05); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  }
  .secondarybtn:hover{
    border-right: 3px solid var(--red-button);
    color: var(--red-button);
    background-color:var(--white-blue);
  }
  .btnd, .btnc, .btne {
    font-size:  var(--paragraph);
    margin: 5px;
    border-radius: 20px;
    background-color: white;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}
.btnd:hover, .btnc:hover, .btne:hover {
    transform: scale(1.25); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .btn-area{
    overflow-y: scroll;
  }
  .btn-area::-webkit-scrollbar{
    width: 0;
  }
  @media(max-width:769px){
  
    .secondarybtn.active {
      border-right: 3px solid var(--red-button);
      color: var(--red-button);
      background-color:var(--white-blue);
    }
    
    .secondarybtn.active span {
      display: inline-block;
      white-space: nowrap;
    }
    .primarybtn{
        margin-top: 0;
        width: 150px;
      }
      .btn {
        display: flex;
        justify-content: space-between; 
      }
  }
  @media(min-width: 770px){
    .btn-area{
      max-width:19%;
    }
    .btn {
      border-right: 1px solid grey;
      padding-right: 10px;
    }
  }