.Todo-wrapper {
    padding: 2%;
    width: 90%;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0px 5px 7px rgb(0, 0, 0);
    overflow-x: hidden;
  }
  .Todo-wrapper::-webkit-scrollbar{
    width: 2px;
  }
  
  .search-container {
    position: relative;
    left: 44%;
  }
  
  .search-container input {
    width: 50%;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
  }
  
  .container-todo-list{
    position: relative;
  }
  
  @media (min-width: 770px) {
    .container-todo-list {
      display: flex;
      justify-content: space-between;
    }
    .todo-list {
      width: 100%;
    }
    .Todo-wrapper {
      max-width: 900px;
    }
    .secondarybtn {
      width: 90%;
    }
    .todo-list-item {
      margin-left: 20px;
    }
    
    .search-icon{
      left: 33%;
    }
    .search-container input {
      width: 35%;
    }
    .search-container {
      left: 63%;
    }
    
  }
  