body {
    background-image: url(https://wallpaper-house.com/data/out/9/wallpaper2you_322434.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
    font-family: Arial, sans-serif;
  }
  .Todo-wrapper {
    background-color: azure;
    padding: 2%;
    width: 90%; 
    max-width: 500px; 
    margin: 3% auto;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0px 5px 7px wheat;
    border-radius: 10px;
  }
  .description {
    word-wrap: break-word;
  }
  
  .search-container {
    position: relative;
  }
  .search-container input{
    border-radius: 20px;
    font-size: 16px;
  }
  .secondarybtn.active {
    background-color: #ff5722;
    color: white;
  }
  .search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
  
  
  h1 {
    color: white;
    text-align: center;
    margin-top: 20px; 
  }
  
  .btn-area input {
    margin: 12px;
    width: 250px;
    text-align: center;
  }
  .btn{
    gap: 2px;
  }
  .btn-area{
    display: flex;
    justify-content: space-between;
  }
  
  @media (max-width: 700px) {
    .btn-area input {
      width: 85%;
      text-align: center;
    }
    .btn {
      display: flex;
      justify-content: space-betweenn
    }
  }
  