body {
  background-image: url(./assets/background-img/body-background.jpg);
  margin: 0;
  font-family: Arial, sans-serif;
}

.Todo-wrapper {
  padding: 2%;
  width: 90%;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(0, 0, 0);
  overflow-x: hidden;
}
.Todo-wrapper::-webkit-scrollbar{
  width: 2px;
}

.search-container {
  position: relative;
  left: 58%;
}

.search-container input {
  width: 40%;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 36%;
  transform: translateY(-50%);
}
h1 {
  color: var(--white)
}

.container-todo-list{
  position: relative;
}
.add-button{
  font-size: 30px;
}

@media (max-width: 770px) {
  .btn {
    display: flex;
    justify-content: space-between; 
  }
}
.btn-area{
  overflow-y: scroll;
}
.btn-area::-webkit-scrollbar{
  width: 0;
}
.secondarybtn{
  height: 4vh;
}
@media (min-width: 770px) {
  .btn-area{
    max-width:19%;
  }
  .container-todo-list {
    display: flex;
    justify-content: space-between;
  }
  .todo-list {
    width: 100%;
  }
  .Todo-wrapper {
    max-width: 900px;
  }
  .secondarybtn {
    width: 90%;
  }
  .btn {
    border-right: 1px solid grey;
    padding-right: 10px;
  }
  .todo-list-item {
    margin-left: 20px;
  }
  .search-container{
    left: 25%
  }
  .search-icon{
    left: 37%;
  }
  .add-button{
    background-color: inherit;
    font-size: 30px;
  }
}