@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

/* my colors  */
:root {
    --black-blue: #21295C;
    --red-button: #F84F68;
    --white-blue: #EFECFF;
    --yellow-gold:#EFBE00;
    --white: white;
    --roboto: "Roboto", sans-serif;
    --title: 20px;
    --paragraph: 16px;
  }
  button {
    outline: none;
    border: none;
  }
  
  button:hover {
    cursor: pointer;
  }
  .font, .font-p{
    font-size: 16px;
  }
  .font-t{
    font-size: 20px;
  }
  .flex {
    display: flex;
  }
  .space-between {
    justify-content: space-between;
  }
  .justify-center {
    justify-content: center;
  }
  .align-center {
    align-items: center;
  }
  .text-center{
    text-align: center;
  }
  .flex-col {
    flex-direction: column;
  }
  .w-f{
    width: 100%;
  }
  .w-90{
    width: 90%;
  }
  
  .margin-bottom-10{
    margin-bottom: 10px;
  }
  .margin-top-10{
    margin-top: 10px;
  }
  .margin-top-20{
    margin-top: 20px;
  }
  .margin{
    margin: 12px;
  }
  
  .margin-x-y{
    margin: 3% auto;
  }
  .padding {
    padding: 12px;
  }
  
  .padding-x-y{
    padding: 12px 20px;
  }

  .gap{
    gap:2px;
  }
  
  .border-bottom{
    border-bottom: 1px solid grey;
  }
  
  .border-radius-10{
    border-radius: 10px;
  }
  .border-radius-20{
    border-radius: 20px;
  }